.vscode/
.versions/
coverage/
dist/
node_modules/
platforms/
plugins/
www/
.sourcemaps/
vscodeJGV.code-workspace
src/*/*/*.js*
src/assets/midi/npm-debug.log
JazzGuitarVoicings.apk
documentation
keystore.jks
JazzGuitarVoicings.apks
Voicings.code-workspace
buildLocal.sh
piano/
