<ion-header>

		<ion-navbar>
		  <ion-title>{{ 'Set scale and tunning' | translate }}</ion-title>			  
		</ion-navbar>
	  
</ion-header>
	  
	  
<ion-content padding style="text-align:center; font-size:25px">
	
	<div class="div-item">
		<ion-label>{{ 'Scale key:' | translate }}</ion-label>
		<ion-grid>
			<ion-row>
				<ion-col col-3 *ngFor="let note of Keys;  let i = index" 	 (click)="closeModal(i)" >
						<div  [ngStyle]="{'background-color': ScaleKeyId==i? 'orange' : 'green','border-radius': ScaleKeyId==i? '5px':'10px'}">
						{{note}}
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>		


	<div class="div-item" *ngIf="displayTunning">
		<ion-label>{{ 'Guitar tunning:' | translate }}</ion-label>
		<ion-item>
			<ion-select  [(ngModel)]="mTunning" [compareWith]="compareFn" interface="popover" class="center cookie25center " >
				<ion-option  class="center  cookie20center" *ngFor="let tunning of TunningList" [value] = "tunning" >
					{{tunning.name}}
				</ion-option>
			</ion-select>

		</ion-item>
		 
	</div>		
</ion-content>




