<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ 'Set guitar tunning' | translate }}</ion-title>
	</ion-navbar>
</ion-header>


<ion-content padding>

	
	<ion-item *ngFor="let stringPitch   of tunning; let i = index;">
		<ion-label color="black" >{{ 'String' | translate }} {{6-i}}:</ion-label>
		<ion-select [(ngModel)]="tunning[5-i]" interface="popover" >
			<ion-option style="width:50% " *ngFor="let note  of OctavesNotes" [value] = "note.pitch" >{{note.label}}</ion-option>
		</ion-select>
	</ion-item>
</ion-content>
