page-guiding-line {
	ion-label{
		  font-family: $cookie;
			font-size: 23px;
			font-color:#000000;
	}
	ion-item{
		 
			font-size: 25px;
			font-color: #000000;
	}

	ion-range{
		 
			height: 30px;
	}
}
