<ion-header>

	<ion-navbar>
		<ion-title>{{ 'Chords on the fret board' | translate }}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content >

	<ion-fab top right>
		<button ion-fab  (click)="toTop()"><ion-icon name="arrow-dropup-circle"></ion-icon></button>
	</ion-fab>
	<ion-fab bottom right  >
		<button ion-fab  (click)="toBottom()"><ion-icon name="arrow-dropdown-circle"></ion-icon></button>
	</ion-fab>
	<ion-label *ngIf="chord.diagrams.length==0">
		{{ 'No chord found.' | translate }}
	</ion-label>


	<ion-grid >
		<ion-row  >
			<ion-col class="div-item-inner "  style="width: 20%" col-3 *ngFor="let diag of chord.diagrams;  let i = index" 
			[ngStyle]="{'background-color': chord.idDiag==i? 'orange' : 'white'}"	 >												
     			
				<div  style = "text-align:center;" (click)="chooseDiag($event,i)"  >
					<chord-canvas   [diagram]="diag" [width]=85  [typeDisplay]=2 ></chord-canvas>	
				</div>	
				
			</ion-col>
		</ion-row>
	</ion-grid>

	

</ion-content>
