
<ion-header>

	<ion-navbar>
		<ion-title>{{ 'Adding chords' | translate }}</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding style="text-align:center; font-size:25px">
	<ion-fab bottom right >
		<button ion-fab color="danger" (click)="add()"><i class="fa fa-plus fa-2x" ></i></button>
	</ion-fab>
	<div class="div-item">
		<ion-label>{{ 'Key:' | translate }}</ion-label>
		<ion-grid>
			<ion-row>
				<ion-col col-3 *ngFor="let note of Keys;  let i = index" 	 (click)="setKey(i)" >
					<div  [ngStyle]="{'background-color': chord.keyid==i? 'orange' : 'green','border-radius': chord.keyid==i? '5px':'10px'}">
					{{note}}</div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
	<div class="div-item">


		<ion-label>{{ 'Family:' | translate }}</ion-label>
		<ion-grid>
			<ion-row>
				<ion-col col2 *ngFor="let family of ChordFamilyList;  let i = index" 	 (click)="setFamilyType(i)" >
					<div  [ngStyle]="{'background-color': chord.idFamily==i? 'orange' : 'green','border-radius': chord.idFamily==i? '5px':'10px'}">
						{{family.name}}
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>	
		<ion-label>{{ 'Type:' | translate }}</ion-label>
		<ion-grid>
			<ion-row>
				<ion-col col1	 *ngFor="let chordSettings of ChordSettings;  let i = index" 	 (click)="setType(i)" >
					<div  [ngStyle]="{'background-color': chord.idtype==i? 'orange' : 'green','border-radius': chord.idtype==i? '5px':'10px'}">
						{{chordSettings.name}}
					</div>
				</ion-col>
			</ion-row>
		</ion-grid>	

	</div>
</ion-content>
