page-chord-frame {
    ion-spinner * {
        stroke: #ff0000;
        fill: #8b0000;
        position: fixed;
        z-index: 999;
        height: 5em;
        width: em;
        overflow: show;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    .spinnerCenter {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center;
        height: 100%;
    }
    
    .div-item-inner {
      margin-top:0px;
      margin-bottom:0px;
      margin-left:0px;
      margin-right:0px;
      padding-right:0px;
      border-radius: 3px;
      //border:1px solid green;
    
    }
    
    

    .errorMsg {
        width:60%;	
      font: bold 10px "Helvetica Neue", Helvetica, Arial, sans-serif;
      line-height: 14px;
      height:100%;
      margin: 0px;
      display: table-cell;
      vertical-align: middle;
      padding: 0px;
      //word-wrap: break-word;
     
    }
    
    
    
    #type {
      padding-top: 15px;
      }
    
    #ChordName {
    
        color: #3D3C3A;
      
        
      width:30px;
        
    }
    
    
    #type {
      //position: absolute;
      margin-top: auto;
      
      margin-left: auto;
    
      
      float: left;
    }
    #key {
    //position: absolute;
    color: #3D3C3A;
        float: left;
        width: auto;
        margin-left: auto; 
        height: auto;
        margin: auto; 
    }
    
    #sharp {
        //position: absolute;
        margin-top: auto;
        margin-left: auto; 
    
    }
    
    #ChordCell {
      float: left;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
    
  }
    .centered {
        padding-left: 0;
        padding-right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
      
    }
    
   
    
}
